<phpunit bootstrap="vendor/autoload.php">
    <filter>
        <whitelist>
            <directory>src/MathBundle</directory>
            <directory>src/PanierBundle</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="math">
            <directory>src/MathBundle/tests</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="panier">
            <directory>src/PanierBundle/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
